body{
    background-color: #0F766E;
    text-align: center;
     
}
h1{
    font-family: cursive;
    text-transform: capitalize;
    border : 3px rgb(1, 180, 180) solid;
    margin:40px auto ;
    width: fit-content ;
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(1, 180, 180, 0.51);
}